{% extends 'admin_base.html.twig' %}

{% block title %}
    {{parent()}}{{title}}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow p-4">
                {{ form_start(form) }}
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.lastName) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.cellphone) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.gender) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.dob) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_row(form.profilePicture) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.status) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.roles) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_row(form.password) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            {{ form_row(form.address) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_row(form.save) }}
                        </div>
                        <div class="col-sm-2">                            
                            {% if user.id %}
                                <a href="{{path('app_admin_list_user')}}" class="btn btn-warning px-4 py-2">Back</a>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}